#!/bin/bash

old_password=$(cat /credentials/password.txt | awk 'NR==2' |awk -F ":" '{print $2}')
new_password=$(pwgen -Aycns -r "@&-_|%'\"\\\/\`;=+<>,.(){}[]:$~^*" 8 1)


systemctl restart mysql

mysqladmin -uroot -p${old_password} -h localhost password $new_password


sed -i "s/$old_password/$new_password/" /credentials/password.txt


sed -i "s/$old_password/$new_password/" /data/wwwroot/phabricator/phabricator/conf/local/local.json

# change PHP timezone
timezone=$(cat /etc/timezone)
sed -i "s/;date.timezone =/date.timezone = ${timezone/\//\\/}/" /etc/php/7.2/apache2/php.ini
systemctl restart apache2


sed -i 's/\/root\/init.sh//g' /etc/rc.local

rm -rf /root/init.sh

