[Unit]
After=network.target
[Service]
PIDFile=/data/wwwroot/trac/trac.pid
User=root
Group=root
WorkingDirectory=/data/wwwroot/trac
ExecStart=/usr/local/bin/gunicorn --pid /data/wwwroot/trac/trac.pid -w 2 --timeout 60 -b  127.0.0.1:8000 --limit-request-line 0 --limit-request-field_size 0 tracwsgi:application
ExecReload = /bin/kill -s HUP $MAINPID
ExecStop = /bin/kill -s TERM $MAINPID
[Install]
WantedBy=multi-user.target