[client]
port=3306

[mysqld]
basedir=C:\websoft9\mysql
datadir=C:\websoft9\mysql\data
port=3306
character_set_server=utf8
secure_file_priv = C:\websoft9\mysql\data
sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES
explicit_defaults_for_timestamp=true

[WinMySQLAdmin]
C:\websoft9\mysql\bin\mysqld.exe